
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddUser</h2>

<section class="page-header">
    <div class="container">

        <!-- Start of Page Title -->
        <div class="row">
            <div class="col-md-12">
                <h2>YENİ KAYIT</h2>
            </div>
        </div>
        <!-- End of Page Title -->
        <!-- Start of Breadcrumb -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                </ul>
            </div>
        </div>
        <!-- End of Breadcrumb -->

    </div>
</section>

<section class="ptb80" id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Start of Nav Tabs -->
                <ul class="nav nav-tabs" role="tablist">

                    <!-- Personal Account Tab -->
                    <li role="presentation" class="active">
                        <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab" aria-expanded="true">
                            <h6>ADD USER</h6>

                        </a>
                    </li>

                    <!-- Company Account Tab -->

                </ul>
                <!-- End of Nav Tabs -->
                <!-- Start of Tab Content -->
                <div class="tab-content ptb60">

                    <!-- Start of Tabpanel for Personal Account -->
                    <div role="tabpanel" class="tab-pane active" id="personal">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">

                                <!-- Form Group -->
                                <div class="form-group">
                                    <label>UserName: </label>
                                    <input type="text" class="form-control">
                                </div>

                                <!-- Form Group -->
                                <div class="form-group">
                                    <label>Password:</label>
                                    <input type="text" class="form-control">
                                </div>

                           

                                <!-- Form Group -->
                                <div class="form-group">
                                    <label>Role:</label>
                                    <select name="job-type" class="selectpicker" data-size="5" data-container="body" required>
                                        <option value="">Seçiniz</option>
                                        <option value="1">Accountance</option>
                                        <option value="2">Banking</option>
                                        <option value="3">Design & Art</option>
                                        <option value="4">Developement</option>
                                        <option value="5">Insurance</option>
                                        <option value="6">IT Engineer</option>
                                        <option value="7">Healthcare</option>
                                        <option value="8">Marketing</option>
                                        <option value="9">Management</option>
                                    </select>
                                </div>

                                <!-- Form Group -->
                                <div class="form-group text-center nomargin">
                                    <button type="submit" class="btn btn-blue btn-effect"> Add User</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End of Tabpanel for Personal Account -->
                    <!-- Start of Tabpanel for Company Account -->
                    <!-- End of Tabpanel for Company Account -->

                </div>
                <!-- End of Tab Content -->

            </div>
        </div>
    </div>
</section>