@model OgretmenModel
@{
    ViewData["Title"] = "OgretmenDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OgretmenDuzenle</h2>
<section class="page-header">
    <div class="container">

        <!-- Start of Page Title -->
        <div class="row">
            <div class="col-md-12">
                <h2>ÖĞRETMEN BİLGİLERİNİ DÜZENLE</h2>
            </div>
        </div>
        <!-- End of Page Title -->
        <!-- Start of Breadcrumb -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                </ul>
            </div>
        </div>
        <!-- End of Breadcrumb -->

    </div>
</section>

<section class="ptb80" id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Start of Nav Tabs -->
                <ul class="nav nav-tabs" role="tablist">

                    <!-- Personal Account Tab -->
                    <li role="presentation" class="active">
                        <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab" aria-expanded="true">
                            <h6>Ogretmen Duzenle</h6>

                        </a>
                    </li>

                    <!-- Company Account Tab -->

                </ul>
                <!-- End of Nav Tabs -->
                <!-- Start of Tab Content -->
                <div class="tab-content ptb60">
                    <form asp-action="OgretmenDuzenle" method="post" enctype="multipart/form-data">
                        <div class="form-body">
                            <input type="hidden" asp-for="Ogretmen.Id" />

                            <div class="form-group">
                                <!-- Start of Tabpanel for Personal Account -->
                                <div role="tabpanel" class="tab-pane active" id="personal">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">

                                            <div class="form-group">
                                                <label>TCK: </label>
                                                <input type="text" class="form-control" asp-for="Ogretmen.TCK">

                                            </div>
                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <label>Adı: </label>
                                                <input type="text" class="form-control" asp-for="Ogretmen.Adi">

                                            </div>

                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <label>Soyadı:</label>
                                                <input type="text" class="form-control" asp-for="Ogretmen.Soyadi">

                                            </div>

                                            <!-- Form Group -->
                                            <!-- Form Group -->
                                            @*<div class="form-group">
            <label>Cinsiyet:</label>
            <input type="text" class="form-control" asp-for="Ogretmen.Cinsiyet">

        </div>*@

                                            <!-- Form Group -->
                                            <div class="form-group mb30">
                                                <label>Yaş:</label>
                                                <input type="text" class="form-control" asp-for="Ogretmen.Yas">

                                            </div>
                                            <div class="form-group mb30">
                                                <label>Yaş:</label>
                                                <input type="text" class="form-control" asp-for="Ogretmen.Yas">

                                            </div>

                                            <!-- Form Group -->
                                            <div class="form-group">
                                                <label>Şube:</label>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                        <select asp-for="Ogretmen.DersId" class="form-control" asp-items="@ViewBag.DersDTOs"></select>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="form-group">
            <label>Şube:</label>
            <select name="job-type" class="selectpicker" data-size="5" data-container="body" required>
                <option value="">Seçiniz</option>
                <option value="">Accountance</option>
                <option value="2">Banking</option>
                <option value="3">Design & Art</option>
                <option value="4">Developement</option>
                <option value="5">Insurance</option>
                <option value="@BilgeKoleji.DTO.SinifDTO.">IT Engineer</option>
                <option value="7">Healthcare</option>
                <option value="8">Marketing</option>
                <option value="9">Management</option>
            </select>
        </div>*@
                                            @*<div class="form-group">
            <label>Şube</label>
            @Html.DropDownListFor(z => z.SinifDTOs.Id,
           new SelectList(Model.SinifDTOs, "Id", "Name"),
           "Seçiniz", new { @class = "form-control" })

        </div>*@


                                            <!-- Form Group -->
                                            <div class="form-group text-center nomargin">
                                                <button type="submit" class="btn btn-blue btn-effect">Öğretmeni Güncelle</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- End of Tabpanel for Personal Account -->
                    <!-- Start of Tabpanel for Company Account -->
                    <!-- End of Tabpanel for Company Account -->

                </div>
                <!-- End of Tab Content -->

            </div>
        </div>
    </div>
</section>
