
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Home Page";
}
<!-- ========== End of Main Slider Section ========== -->
<!-- ===== Start of Job Search Section ===== -->
<!-- ===== End of Job Search Section ===== -->
<!-- ===== Start of Popular Categories Section ===== -->
<section class="main2">
    <!-- ===== Start of Swiper Slider ===== -->

    <div class="swiper-container">
        <div class="swiper-wrapper">

            <!-- Start of Slide 1 -->
            <div class="swiper-slide overlay-black" style="background: url('images/office1.jpg'); background-size: cover; background-position: 50% 50%;">

                <!-- Start of Slider Content -->
                <div class="slider-content container">

                    <div class="col-md-6 col-md-offset-6 col-xs-12 text-center">

                        <div class="section-title">
                            <h2 class="text-white">KENDİNİZİ GELECEĞE HAZIRLAYIN!</h2>
                        </div>

                        <p class="text-white">Bilge koleji kalitesiyle gelecekte parlayan bir yıldız olun.Kapsamlı eğitimlerimizle hem kendini donatmış hem de piyasaya hazır bireyler yetiştiriyoruz.</p>

                    </div>

                </div>
                <!-- End of Slider Content -->

            </div>
            <!-- End of Slide 1 -->
            <!-- Start of Slide 2 -->
            <div class="swiper-slide overlay-black" style="background: url('images/office2.jpg'); background-size: cover; background-position: 50% 50%;">

                <!-- Start of Slider Content -->
                <div class="slider-content container">

                    <div class="col-md-6 col-xs-12 text-center">

                        <div class="section-title">
                            <h2 class="text-white">SINIFTAN EĞİTİMLERİMİZ BAŞLIYOR!</h2>
                        </div>

                        <p class="text-white">İster sınıftan eğitimlerimize, ister online platformdan eğitiminize devam edebilirsiniz.Detaylı bilgi için numaranızı yazın,biz sizi arayalım.</p>

                    </div>

                </div>
                <!-- End of Slider Content -->

            </div>
            <!-- End of Slide 2 -->

        </div>
        <!-- End of Swiper Wrapper -->
        <!-- Navigation Buttons -->
        <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
        <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>

    </div>
    <!-- ===== End of Swiper Slider ===== -->

</section>


<!-- ===== End of Popular Categories Section ===== -->
<!-- ===== Start of Get Started Section ===== -->
<!-- ===== End of Get Started Section ===== -->
<!-- ===== Start of Latest Job Section ===== -->
<!-- ===== End of Latest Job Section ===== -->
<!-- ===== Start of Download APP Section ===== -->
<section class="cariera-app pt80">
    <div class="container">
        <div class="row">

            <script>
                            @{if (User.Identity.IsAuthenticated)
                                {
                                    var user = BilgeKoleji.Ui.CORE.BİlgeConvert.JsonDeSerializeUserDTO(User.Claims.FirstOrDefault(z => z.Type == "UserDTO").Value);
                                    
                                    
                                    }
                                }
            </script>

            <!-- Start of Column -->
            <div class="col-md-6 col-xs-12 pb80">
                <h2 class="text-white">BİZ KİMİZ?</h2>
                <p class="pt20 text-white">İŞİNDE UZMANLAŞMIŞ PROFOSYONEL KADROMUZLA ÇOCUKLARINIZIN GELECEĞİ BİZE EMANET!</p>

                <div class="col-md-12 mt40 text-center">
                    <a href="Admin/OgretmenListele" class="btn btn-blue btn-effect nomargin">ÖĞRETMEN LİSTESİ</a>
                </div>

            </div>
            <!-- End of Column -->
            <!-- Start of Column -->
            <div class="col-md-6 col-xs-12">
                @*<div class="app-wrapper">
                        <img src="images/img/app.png" alt="">

                    </div>*@
            </div>
            <!-- End of column -->

        </div>
    </div>
</section>
<!-- ===== End of Download APP Section ===== -->
<!-- ===== Start of CountUp Section ===== -->
<section class="ptb40" id="countup">
    <div class="container">

        <!-- 1st Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="397"></span>
            <h4>Aktif Öğrenci</h4>
        </div>

        <!-- 2nd Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="579"></span>
            <h4>Mezun</h4>
        </div>

        <!-- 3rd Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="32"></span>
            <h4>Alanında Uzman Eğitmen</h4>
        </div>

        <!-- 4th Count up item -->
        <div class="col-md-3 col-sm-3 col-xs-12">
            <span class="counter" data-from="0" data-to="6"></span>
            <h4>Şube</h4>
        </div>

    </div>
</section>
<section class="ptb80" id="categories2">
    <div class="container">

        <div class="section-title">

            <h2>RİZE BİLGE KOLEJİ  </h2>
        </div>
        <!-- Start of Row -->
        <div class="row nomargin">

            <!-- Start of Category Wrapper div -->
            <div class="col-md-6 col-xs-12 cat-wrapper">

                <ul>
                    <!-- Category -->
                    <li>
                        <a href="Admin/OgrenciEkle">
                            <h4>Sizde Bilge Kolejli Olun</h4>
                        </a>
                        <span>Yeni Öğrenci</span>
                    </li>

                    <!-- Category -->
                    <li>
                        <a href="Admin/SinifListele">
                            <h4>Sınıfları Göster</h4>
                        </a>
                        <span>Sınıf Listesi</span>
                    </li>

                    <!-- Category -->
                    <li>
                        <a href="Admin/OgretmenEkle">
                            <h4>Deneyimli Ekibimize katılın</h4>
                        </a>
                        <span>Öğretmen Kayıt</span>
                    </li>

                    <!-- Category -->

                </ul>

            </div>
            <!-- End of Category Wrapper div -->
            <!-- Start of Category Wrapper div -->
            <div class="col-md-6 col-xs-12 cat-wrapper">

                <ul>
                    <!-- Category -->
                    <li>
                        <a href="Admin/DersListele">
                            <h4>Verdiğimiz Eğitimler</h4>
                        </a>
                        <span>Ders Listesi</span>
                    </li>

                    <!-- Category -->
                    <li>
                        <a href="#">
                            <h4>Sosyal Aktivitelerimiz</h4>
                        </a>
                        <span>Spor,gezilerimiz ve daha fazlası..</span>

                    </li>

                    <!-- Category -->
                    <li>
                        <a href="#">
                            <h4>Online Eğitim</h4>
                        </a>
                        <span>Hemen Kayıt Olun</span>
                    </li>

                    <!-- Category -->

                </ul>

            </div>
            <!-- End of Category Wrapper div -->

        </div>
        <!-- End of Row -->


    </div>
</section>
<!-- ===== End of CountUp Section ===== -->
<!-- ===== Start of Testimonial Section ===== -->
<section class="ptb80" id="testimonials">

    <div class="container">

        <!-- Section Title -->
        <div class="section-title">
            <h2 class="text-white">Velilerimiz ne düşünüyor?</h2>
        </div>


        <!-- Start of Owl Slider -->
        <div class="owl-carousel testimonial">

            <!-- Start of Slide item -->
            <div class="item">
                <div class="review">
                    <blockquote>İnanılmaz bir okul.Gitmeyen çok şey kaçırır çok..</blockquote>
                </div>
                <div class="customer">
                    <img src="images/yuz2.jpeg" alt="">
                    <h4 class="uppercase pt20">Ahmet Taş</h4>
                </div>
            </div>
            <!-- End Slide item -->
            <!-- Start of Slide item -->
            <div class="item">
                <div class="review">
                    <blockquote>KEŞKE ÇOCUK OLSAM DA BURDA BEN DE OKUSAM!!</blockquote>
                </div>
                <div class="customer">
                    <img src="images/yuz1.jpg" alt="">
                    <h4 class="uppercase pt20">Veli Toprak</h4>
                </div>
            </div>
            <!-- End Slide item -->
            <!-- Start of Slide item -->
            <div class="item">
                <div class="review">
                    <blockquote>Bizim zamanımızda böyle yerler yoktu tabi,baksana teknoloji çok gelişmiş!</blockquote>
                </div>
                <div class="customer">
                    <img src="images/yuz3.jpg" alt="">
                    <h4 class="uppercase pt20">Ayşe Su</h4>
                </div>
            </div>
            <!-- End Slide item -->

        </div>
        <!-- End of Owl Slider -->

    </div>
</section>
<!-- ===== End of Testimonial Section ===== -->
<!-- ===== Start of Latest News Section ===== -->
<section class="ptb80" id="latest-news">
    <div class="container">

        <!-- Section Title -->
        <div class="section-title">
            <h2>Derslerimiz</h2>
        </div>

        <!-- Start of Blog Post -->
        <div class="col-md-6 col-xs-12 mb60">
            <div class="blog-post blog-post-ver2">
                <!-- Blog Post Image -->
                <div class="blog-post-thumbnail">
                    <a href="blog-post.html" class="hover-link">
                        <img src="images/sa2.jpg" alt="">
                    </a>
                </div>

                <!-- Blog Post Info -->
                <div class="post-info">
                    <a href="blog-post.html">Oyun Ve Eğitim Bahçesi</a>



                    <p>Binamızı çevreleyen 650 metrekare bahçemizde, çocuklarımız için eğlenceli oyun alanları ve eğitim köşeleri vardır. Öğrencilerimiz çimler üzerinde özgürce hareket ederek, doğal ortamda çağdaş eğitim alabilmenin keyfini sürüyorlar..</p>

                </div>

                <!-- Read More Button -->


            </div>
        </div>

        <!-- End of Blog Post -->
        <!-- Start of Blog Post -->
        <div class="col-md-6 col-xs-12 mb60">
            <div class="blog-post blog-post-ver2">
                <!-- Blog Post Image -->
                <div class="blog-post-thumbnail">
                    <a href="blog-post.html" class="hover-link">
                        <img src="images/sa1.jpg" alt="">
                    </a>
                </div>

                <!-- Blog Post Info -->
                <div class="post-info">
                    <a href="blog-post.html">Yabancı Dil Eğitim</a>



                    <p>


                        Dil eğitiminin en önemli olduğu yıllar 2-6 yaş arasıdır. Bu yaş gruplarındaki öğrencilerimize ana dili geliştirici çalışmaların yanı sıra, yabancı dil olarak ingilizce eğitimi branş öğretmenleri tarafından verilmektedir. Çocuklarımız yabancı dili, ana dilleri seviyesinde konuşabileceklerdir. Haftada 10 saat İngilizce eğitimi vardır.
                    </p>

                </div>

                <!-- Read More Button -->



            </div>
        </div>
        <!-- End of Blog Post -->

        <div class="col-md-12 col-xs-12 text-center">
            <p>
                ÖZEL BİLGE İLKOKULU VE ÖZEL BİLGE ORTAOKULU

                Bilge Okulları’nda öncelikli amacımız, çağdaş bir eğitim ve öğretim gerçekleştirerek, geleceğe güvenle bakan, fikir üretebilen, kendini ifade edebilnen, yaratıcı ve araştırma yapan bilge insanlar yetiştirmektir.

                İlköğretim okulumuzda İngilizce, Beden eğitimi, Görsel Sanatlar, Müzik gibi dersler branş öğretmenleri tarafından verilmektedir. Öğrencilerimizin, bilimsel ve  sosyal  gelişimlerine de  önem  verilmektedir.



                Öğrencilerimiz her türlü spor branşlarına  yönlendirilirler. Okulumuzun  labaratuvarı  teknolojik  gelişimlere  göre  donatılmış  durumdadır.




                Öğrencilerimizin  okula  geliş  ve  gidişleri  servislerle  güven  içinde  sürdürülmektedir.
            </p>

        </div>


    </div>
</section>
<!-- ===== End of Latest News Section ===== -->
<!-- ===== Start of Partners ===== -->
<!-- ===== End of Partners ===== -->
