
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageHeader{
    <h1 class="page-title">
        Admin Page
        <small>Welcome Admin Page</small>
    </h1>
}

