@model ICollection<EgeBlogSite.Entity.User>
@{
    ViewBag.Title = "Welcome";
}

@*<h2>Ege Blog Siteye Hoşgeldin</h2>
<p style="padding-left:40px;">Sende Kendi Hikayeni Yaz!</p>*@

    <div class="jumbotron">
        <h1 class="display-3">EgeBlog'a Hoşgeldin</h1>
        <p class="lead">Burada birçok insanın ilginç hayat hikayelerini,farklı tecrübelerini,seni etkileyecek birçok yazıyı bulabilirsin.Ve Tabiki sende onları etkileyebilirsin. </p>
        <hr class="my-4">
        <p>Sende Hikayeni Başkalarıyla Paylaşmaya Aşağıdaki Butona Basarak Başla! </p>
        <a class="btn btn-primary btn-lg" href="/Articles/Ekle" role="button">YAZ</a>
    </div>